* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* Prevent images from exceeding their container */
  height: auto; /* Maintain aspect ratio */
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1f2937;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
  text-align: justify;
}

h2 {
  font-size: 1rem;

  text-align: justify;

  text-transform: uppercase;
  letter-spacing: 2px;
}

header {
  background: #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header nav a {
  color: #1f2937;
  text-decoration: none;
  padding: 5px 10px;
}
nav {
  display: flex; /* Ensure the links are displayed in a row */
  gap: 20px; /* Add spacing between links */
}

#header nav ul {
  display: flex; /* Arrange list items horizontally */
  list-style: none; /* Remove default bullets */
  padding: 0;
}

#header nav ul li {
  margin-left: 20px; /* Add spacing between items */
}

#header nav ul li a {
  text-decoration: none; /* Remove underline */
  color: #1f2937; /* Set a readable color */
}

.logo {
  width: 200px; /* Adjust the size */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

#info {
  background: #d3d3d3;
  padding: 40px 20px;
}

.info-item img {
  width: 600px; /* Adjust the size as needed */
  height: auto;
  border-radius: 10px; /* Optional for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}
#hero {
  padding: 50px 20px;
}

#hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: justify;
  color: #1f2937;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #4b5563; /* Slightly lighter color for contrast */
  margin-top: 10px;
}
.hero-image img {
  width: 1000px; /* Adjust the size as needed */

  border-radius: 10px; /* Optional for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
  max-width: 100%;
  height: auto;
}

#footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 20px;
}

/* mobile responsiveness */
@media (max-width: 768px) {
  #hero {
    padding: 30px 10px;
    text-align: center; /* Center text for smaller screens */
  }

  #hero h1 {
    font-size: 2rem; /* Reduce heading size */
  }

  #info .info-item img {
    width: 100%; /* Make images responsive */
  }

  #footer {
    padding: 10px;
  }
}
